server {
  listen 80;
  server_name {{ item.domains | join (" ") }};
{% if item.name is equalto "sentry" %}
  set_real_ip_from 127.0.0.1;
  set_real_ip_from 10.0.0.0/8;
  real_ip_header X-Forwarded-For;
  real_ip_recursive on;
{% endif %}

  # HTTP Server for ACME challenge
  location /.well-known/acme-challenge {
    root {{ acme_challenge_path }}/;
  }

  location / {
{% if item.name is equalto "sentry" %}
    if ($request_method = GET) {
      rewrite  ^ https://$host$request_uri? permanent;
    }
    return 405;
{% endif %}
{% if item.allow is defined %}
{% for ip in item.allow %}
    allow {{ ip }};
{% endfor %}
    deny all;
{% endif %}

    return 301 https://$server_name$request_uri;
  }
}

upstream {{ item.name }} {
  server {{ item.url }} fail_timeout=0;
}

# HTTPS server
#
server {
  listen 443;
  server_name {{ item.domains | join (" ") }};
  client_max_body_size 8m;
  ignore_invalid_headers off;

  root html;
  index index.html index.htm;

  ssl on;
  ssl_certificate {{ certbot.home }}/live/{{ item.domains[0] }}/fullchain.pem;
  ssl_certificate_key {{ certbot.home }}/live/{{ item.domains[0] }}/privkey.pem;
  ssl_dhparam {{ ssl.dhparam }};

  ssl_session_timeout 5m;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
  ssl_prefer_server_ciphers on;

{% if item.name is equalto "sentry" %}
  # keepalive + raven.js is a disaster
  keepalive_timeout 0;

  # use very aggressive timeouts
  proxy_read_timeout 5s;
  proxy_send_timeout 5s;
  send_timeout 5s;
  resolver_timeout 5s;
  client_body_timeout 5s;
{% endif %}

  location / {

    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_pass_header       X-CSRFToken;
    proxy_redirect http:// https://;
{% if item.proxy_pass is defined %}
    proxy_pass              {{ item.proxy_pass }};
{% else %}
    proxy_pass              http://{{ item.name }};
{% endif %}
{% if item.name is equalto "sentry" %}
    add_header Strict-Transport-Security "max-age=31536000";
{% endif %}
  }

{% if item.locations is defined %}
{% for location in item.locations %}
  location /{{ location }} {

    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_pass_header       X-CSRFToken;
    proxy_redirect http:// https://;
    proxy_pass              http://{{ item.name }};
  }
{% endfor %}
{% endif %}

{% if item.logs is defined %}
  error_log         {{ item.logs }}/nginx-error.log;
  access_log        {{ item.logs }}/nginx-access.log;
{% endif %}
}
